@{
    ViewData["Title"] = "Project Details";
}
@model Clean.Architecture.Application.DTO.ProjectAggregate.ProjectViewModel
@*
    <h2>Project (MVC View)</h2>

    <h3>Name: @Model?.Name</h3>

    <b>Items:</b>

    <ul>
        @if (Model?.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <li>@item.Title<br />@item.Description</li>
            }
        }
    </ul>
*@
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Details View
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Project Details</h3>
            </div>
            <div class="card-body">
                <div class="datagrid">
                    <div class="datagrid-item">
                        <div class="datagrid-title">Name</div>
                        <div class="datagrid-content">@Model?.Name</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Priority</div>
                        <div class="datagrid-content">@Model?.PriorityName</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Created by</div>
                        <div class="datagrid-content">@Model?.CreatedBy</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Created date</div>
                        <div class="datagrid-content">@Model?.CreatedDate</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Items</div>
                        <div class="datagrid-content">@Model?.Items.Count days</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Record Status</div>
                        <div class="datagrid-content">
                            <span class="status status-green">
                                @Model?.RecordStatusDescription
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Items</h3>
                        </div>
                        <div class="list-group list-group-flush list-group-hoverable">
                            <div class="list-group-item">
                                @if (Model?.Items != null)
                                {
                                    @foreach (var item in Model.Items)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="badge bg-red"></span></div>
                                            <div class="col text-truncate">
                                                <a href="#" class="text-reset d-block">@item.Title</a>
                                                <div class="d-block text-muted text-truncate mt-n1">@item.Description</div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="list-group-item-actions">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
